<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27090488386-erbsnihfn0kash3oksfd32a0vej7lju2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27090488386-erbsnihfn0kash3oksfd32a0vej7lju2</string>
	<key>API_KEY</key>
	<string>AIzaSyBsiYk3MJ9YNw4gTNIN0qwcHSyV4DyZasE</string>
	<key>GCM_SENDER_ID</key>
	<string>27090488386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tungduong.NetfilxClone1234</string>
	<key>PROJECT_ID</key>
	<string>neco-e873a</string>
	<key>STORAGE_BUCKET</key>
	<string>neco-e873a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27090488386:ios:d227bb3d787da89b43b1db</string>
</dict>
</plist>